@import "../colors.scss";

.horizontalLine {
    width: 100%;
    height: 2px;
}



.cardWrapper:focus-visible {
    outline: none  
}

.rounded {
    border-radius: 6px;
}

.verticalLine {
    width: 8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: $secondary;
}