@import "../colors.scss";

.smallerFontSize {
  font-size: 0.9rem;
}

.editProject {
  @extend .smallerFontSize;
}

.deleteProject {
  @extend .smallerFontSize;
}

@media (max-width: 799px) {
  .editProject {
    color: $secondary;
  }

  .deleteProject {
    color: $danger;
  }
}

@media (min-width: 800px) {

  .editProject {
    color: $secondary;
  }

  .deleteProject{
    color: $danger;
  }
}
