@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    font-family: 'Oxygen', sans-serif;
}

.add-button {
    background-color: #F17A7E;
    border: none;
    border-radius: 8px;
}

.add-button:hover {
    background-color: #e16a6e;
}

.add-button:focus-visible {
    border: none;
}

.add-button:active {
    background-color: #e16a6e;
    transform: scale(1.1);
}

#icon {
    height: 30px;
    width: 30px;
}

[data-current= 'true'] {
    background-color: #F17A7E;
    color: white;
  }

hr {
    width: 100%;
    min-width: 150px;
  }