@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    font-family: 'Oxygen', sans-serif;
}

button {
    border-radius: 8px;
    border: none;
}

.add-button {
    background-color: #F17A7E;
}

.add-button:hover {
    background-color: #e16a6e;
}

.add-button:focus-visible {
    border: none;
}

.add-button:active {
    background-color: #e16a6e;
    transform: scale(1.1);
}

#icon {
    height: 30px;
    width: 30px;
}

[data-current= 'true'] {
    background-color: #F17A7E;
    color: white;
  }

hr {
    margin-top: 4px;
    width: 100%;
    min-width: 150px;
  }

.delete-button {
    background-color: #FFC94B;
}

.delete-button:hover {
    background-color: #eeba42;
}



#delete-icon {
    pointer-events: none;
}

#delete-project-trigger {
    font-size: 0.8rem;
    display: none;
    border:none;
}

#delete-project-trigger:hover {
    color: #F17A7E;
}