@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*:focus-visible {
    outline: none;
}

body {
    font-family: 'Oxygen', sans-serif;
}

button {
    border-radius: 8px;
    border: none;
}

.add-button:hover {
    background-color: #547071;
}

.add-button:active {
    background-color: #547071;
    transform: scale(1.1);
}

#icon {
    height: 30px;
    width: 30px;
}

[data-current= 'true'] {
    background-color: #F17A7E;
    color: white;
  }

hr {
    margin-top: 4px;
    width: 100%;
    min-width: 150px;
  }

.delete-button {
    background-color: #FFC94B;
}

.delete-button:hover {
    background-color: #eeba42;
}

.project-trigger {
    font-size: 0.8rem;
    display: none;
}

#delete-project-trigger:hover {
    color: #F17A7E;
}

#edit-project-trigger:hover {
    color: #F9A66C;
}

.project-li {
    max-width: 300px;
    width: 80%;
    height: fit-content;
    text-overflow: ellipsis!important;
}


.project-li:active {
    background-color: rgb(236, 154, 157)!important;
    transform: scale(1.1);
}

.done {
    text-decoration: line-through;
    background-color: #4A6163!important;
}

h3 {
    pointer-events: none;
}

.edit-button {
    background-color: transparent;
    width: fit-content;
    top: 0px;
    right: -26px;
}


.edit-button:active {
    transform: scale(1.2);
}

svg {
    pointer-events: none;
}

.card-title {
    padding-right: 22px;
}

#project-name {
    overflow-wrap: break-word;
}

@media (min-width: 100px){
	.add-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 270px;
        background-color: #4A6163;
        margin: auto;
        margin-bottom: 12px;
    }

}

@media only screen and (min-width: 770px){
	.add-button {
        margin-top: 40px;
        margin-left: 60px;
        width: 180px;
    }
    .project-li:hover {
        background-color: rgb(236, 154, 157)!important;
    }
}